:root {
    --font-family: Arial, sans-serif;
    --unclassifed-label-color: #696B7E;
    
    /* Opacity for non-highlighted lineages */
    --lowlight-text-opacity: 0.1;
    --lowlight-shape-opacity: 0.2;
}

.tooltip {
    position: absolute;
    z-index: 9999;
    background-color: rgba(38, 50, 56, 0.95);
    color: white;
    font-family: var(--font-family);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.tooltip .tooltip-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 0.875rem;
}

.tooltip .tooltip-inner {
    padding: 4px 8px;
}

.tooltip .tooltip-id {
    font-size: 0.6rem;
}

.tooltip .tooltip-badge {
    background-color: rgba(255, 167, 38, 0.25);
    color: #ffa726;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.875rem;
    margin-left: 10px;
    font-weight: bold;
}

.tooltip hr {
    margin: 8px 0;
    border: none;
    border-top: 1px solid #fff;
    opacity: 0.2;
}
        
.tooltip .tooltip-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
}
  
.tooltip .tooltip-label {
    font-weight: bold;
}

/* Node labels */
.unclassified {
    fill: var(--unclassifed-label-color);
}
g.node-group {
    cursor: pointer;
}
rect.node {
    cursor: pointer;
}
text.node {
    font-size: 10px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    cursor: pointer;
    fill: black;
}
text.clade-reads {
    font-size: 10px;
    font-weight: normal;
    font-family: Arial, sans-serif; 
    cursor: pointer;
}

/* x-axis rank label */
text.rank-label {
    font-family: Arial, sans-serif;
}

/* non-highlighted lineages */
.lowlight-shape {
    opacity: var(--lowlight-shape-opacity);
}
.lowlight-text {
    opacity: var(--lowlight-text-opacity);
}

/* Link <path> elements between nodes */
.link-path {
    fill: none;
    stroke-opacity: 0.3;
}